<div class="container body-content">
    {{#if error}}
        <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <i class="fa fa-coffee"></i>
            {{error}}
        </div>
    {{/if}}
    <div class="row">
        {{#each articles}}
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>{{this.title}}</h2>
                    </header>

                    <p>{{this.content}}
                    </p>

                    <footer>
                        <div class="form-group">
                            <div class="pull-right col-sm-1 control-label">
                                <a class="btn btn-default btn-xs" href="/article/details/{{this.id}}">Read more &raquo;</a>
                            </div>
                            <div class="pull-right col-sm-0 control-label">
                                <a class="btn btn-default btn-danger btn-xs" href="/user/article/delete/{{this.id}}">Delete ×</a>
                            </div>
                            <div class="pull-right col-sm-1 control-label">
                                <a class="btn btn-default btn-success btn-xs" href="/user/article/edit/{{this.id}}">Edit <i class="glyphicon glyphicon-pencil"></i></a>
                            </div>
                        </div>

                    </footer>
                </article>
            </div>
        {{/each}}
    </div>

        <!--{{#if articles}}-->
    <!--<form method="post">-->
    <!--<div class="btn-group" role="toolbar">-->
    <!--<button class="btn btn-primary" type="submit" value="0" name="articlesNumber">1</button>-->
    <!--<button class="btn btn-primary" type="submit" value="6" name="articlesNumber">2</button>-->
    <!--<button class="btn btn-primary" type="submit" value="12" name="articlesNumber">3</button>-->
    <!--</div>-->
    <!--</form>-->
        <!--{{/if}}-->

</div>
